<a href="https://colab.research.google.com/github/avani1508/Python/blob/main/15July_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(j<=i):
      print("*",end='')
  print("\n")

*

**

***

****

*****

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(j<=i):
      print(j,end='')
  print("\n")

1

12

123

1234

12345

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(j<=i):
      print(i,end='')
  print("\n")

1

22

333

4444

55555

In [ ]:
for i in range(1,6):
  for j in range(1,6-i):
    print(" ",end="")
  for k in range(1,6):
    if(k<=i):
      print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
for i in range(1,6):
  for j in range(0,6-i):
    print(" ",end="")
  for k in range(1,6):
    if(k<=i):
      print(j,end="")
  print()

     4
    33
   222
  1111
 00000

In [ ]:
for i in range(1,6):
  for j in range(0,6-i):
    print(" ",end="")
  for k in range(1,6):
    if(k<=i):
      print(i,end="")
  print()

     1
    22
   333
  4444
 55555

In [ ]:
for i in range(1,6):
  for j in range(0,6-i):
    print(" ",end="")
  for k in range(1,6):
    if(k<=i):
      print(k,end="")
  print()

     1
    12
   123
  1234
 12345